[Desktop Entry]
Version=1.0
Type=Application
Name=Python Terminal
Exec=python3
Icon=utilities-terminal
Terminal=true
Categories=Development;ConsoleOnly;
